.App {
  min-height: 100vh;
  /* color: rgb(255, 255, 255); */
  /* background-color: rgb(42, 79, 94); */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.picmix.com%2Fstamp%2FANIMATED-BACKGROUNDS-1128903&psig=AOvVaw2xbaj2ieEzAr2pgIKolws1&ust=1673861088599000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCJiTv9igyfwCFQAAAAAdAAAAABAN); */
  background: url(https://picsum.photos/id/1015/2000/2000);
}

button {
  color: white;
  background-color: rgba(238, 86, 225, 0.534);
  padding: 5px 25px;
  margin: 10px;
  width: 300px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 15px;
}

button:hover {
  transition: 0.35s;
  transform: scale(1.05);
  cursor: pointer;
  border-color: violet;
  border-style: solid;
}